@use '../../global/index' as global;

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 16px;
  @include global.mq(sp) {
    flex-direction: column;
  }
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 8px;
  column-gap: 24px;
}

.profile-img {
  width: 50%;
  @include global.mq(sp) {
    width: 100%;
    margin-top: 32px;
  }
}
