@use '../global/index' as global;

.button-menu {
  @include global.mq(sp) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }
}
.button-menu::before,
.button-menu::after {
  content: '';
  position: absolute;
  border-bottom: 1.5px solid global.$dark;
  width: 24px;
  transition: all 0.5s;
}
.button-menu::before {
  margin-top: 8px;
}
.button-menu::after {
  margin-bottom: 8px;
}

.button-menu--open::before,
.button-menu--open::after {
  border-color: global.$white;
  margin: 0;
}
.button-menu--open::before {
  transform: rotate(-45deg);
}
.button-menu--open::after {
  transform: rotate(45deg);
}

.button-normal {
  width: 240px;
  height: 64px;
  font-family: global.$font-en;
  @include global.font-size-responsive(2rem, 1.8rem, 1.6rem);
  border: 1px solid global.$dark;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, transform 1s, opacity 2s;
  @include global.mq(sp) {
    height: 56px;
  }
  @include global.mq(sp) {
    width: 100%;
    height: 48px;
  }

  .button-normal__icon,
  .button-normal__icon-hover {
    position: absolute;
    right: calc(50% - 96px);
    transition: opacity 0.3s;
    @include global.mq(sp) {    
      right: 40px;
    }
  }

  .button-normal__icon-hover {
    opacity: 0;
  }
}

.button-normal:hover {
  background-color: global.$dark;
  color: global.$white;

  .button-normal__icon {
    opacity: 0;
  }
  .button-normal__icon-hover {
    opacity: 1;
  }
}
