@use '../global/index' as global;

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 72px;
  opacity: 0.9;
  background-color: global.$white;
  transition: all 0.5s;

  @include global.mq(sp) {
    height: 48px;
  }
}

.header-nav {
  height: 72px;
  padding: 0 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @include global.mq(sp) {
    padding: 0 10px 0 16px;
    height: 48px;
  }

  .header-nav__logo {
    @include global.h6-style;
  }

  .header-nav__contact-link {
    @include global.mq(sp) {
      display: none;
    }
  }

  .header-nav__links {
    @include global.h6-style;
    display: flex;
    align-items: center;
    column-gap: 40px;
    @include global.mq(tab) {
      column-gap: 32px;
    }
    @include global.mq(sp) {
      display: none;
    }
  }

  .header-nav__menu-button {
    display: none;
    position: relative;
    @include global.mq(sp) {
      display: block;
    }
  }
}

.header-menu {
  @include global.h4-style;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 48px;
  transform: translateY(-360px);
  transition: transform 0.5s;
}

.header--expand {
  height: 320px;
  background-color: global.$dark;
  color: global.$white;
  
  .header-menu {
    transform: translateY(0);
  }  
}
