@use '../global/index' as global;

.nav {
  height: 72px;
  padding: 0 40px;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: global.$white;
  opacity: 0.9;
  @include global.mq(sp) {
    padding: 0 10px 0 16px;
    height: 48px;
  }

  .nav__logo {
    @include global.h6-style;
  }

  .nav__contact-link {
    @include global.mq(sp) {
      display: none;
    }
  }

  .nav__links {
    @include global.h6-style;
    display: flex;
    align-items: center;
    column-gap: 40px;
    @include global.mq(tab) {
      column-gap: 32px;
    }
    @include global.mq(sp) {
      display: none;
    }
  }

  .nav__menu-button {
    display: none;
    position: relative;
    z-index: 3;
    @include global.mq(sp) {
      display: block;
    }
  }
}

.nav-expand {
  height: 0%;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: global.$dark;
  transition: all 0.5s;

  .nav-expand__links {
    @include global.h4-style;
    color: global.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}

.nav-expand--open {
  height: auto;
  opacity: 1;
  padding: 80px;
}
