@use '../global/index' as global;

.page-title {
  padding-top: 72px;
  @include global.mq(sp) {
    padding-top: 48px;
  }
}

.page-title-background {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include global.dot-background;
  @include global.mq(tab) {
    height: 160px;
  }
  @include global.mq(sp) {
    height: 96px;
  }
}

.page-title-text {
  @include global.h1-style;
}
