@use '../global/index' as global;

.section {
  width: 100%;
  max-width: 960px;
  padding: 120px 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include global.mq(tab) {
    padding: 80px 40px;
  }
  @include global.mq(sp) {
    padding: 40px 16px;
  }

  .section__title {
    @include global.h2-style;
    margin-bottom: 48px;
    @include global.mq(tab) {
      margin-bottom: 40px;
    }
    @include global.mq(sp) {
      margin-bottom: 32px;
    }
  }
}

.section--about {
  align-items: flex-start;
}

.section--first-view {
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
}

.section--contact {
  @include global.dot-background;
  max-width: none;
  margin-top: 120px;
  @include global.mq(tab) {
    margin-top: 80px;
  }
  @include global.mq(sp) {
    margin-top: 40px;
  }
}
