@use '../global/index' as global;

.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4%;
  row-gap: 40px;
  margin-bottom: 64px;

  @include global.mq(tab) {
    row-gap: 32px;
    margin-bottom: 48px;
  }
  @include global.mq(sp) {
    grid-template-columns: 1fr;
    row-gap: 24px;
    margin-bottom: 32px;
  }
}

.works-img {
  width: 100%;
}

.works-title {
  @include global.h4-style;
  margin: 16px 0 8px 0;
}
