@use '../../global/index' as global;

.top-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  @include global.mq(tab) {
    row-gap: 32px;
  }
  @include global.mq(sp) {
    row-gap: 24px;
  }

  .top-message__symbol {
    width: 160px;
    height: auto;

    @include global.mq(sp) {
      width: 120px;
    }
  }

  @keyframes expansion{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.1);
    }
  }

  .top-message__title {
    @include global.h2-style;
    text-align: center;
  }

  .top-message__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    text-align: center;
  }
}
