@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: normal;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.2em;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #232629;
  line-height: 1.6em;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 1.2rem;
  }
}

a {
  transition: all 0.3s;
}

a:hover {
  opacity: 0.4;
}

.fade-symbol,
.fade-title,
.fade-introduction,
.fade {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s, transform 1s;
}

.fade-symbol.view,
.fade-title.view,
.fade-introduction.view,
.fade.view {
  opacity: 1;
  transform: translateY(0);
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 72px;
  opacity: 0.9;
  background-color: #fff;
  transition: all 0.5s;
}
@media screen and (max-width: 480px) {
  .header {
    height: 48px;
  }
}

.header-nav {
  height: 72px;
  padding: 0 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .header-nav {
    padding: 0 10px 0 16px;
    height: 48px;
  }
}
.header-nav .header-nav__logo {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .header-nav .header-nav__logo {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .header-nav .header-nav__logo {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) {
  .header-nav .header-nav__contact-link {
    display: none;
  }
}
.header-nav .header-nav__links {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media screen and (max-width: 768px) {
  .header-nav .header-nav__links {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .header-nav .header-nav__links {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .header-nav .header-nav__links {
    column-gap: 32px;
  }
}
@media screen and (max-width: 480px) {
  .header-nav .header-nav__links {
    display: none;
  }
}
.header-nav .header-nav__menu-button {
  display: none;
  position: relative;
}
@media screen and (max-width: 480px) {
  .header-nav .header-nav__menu-button {
    display: block;
  }
}

.header-menu {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  line-height: 1.2em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 48px;
  transform: translateY(-360px);
  transition: transform 0.5s;
}
@media screen and (max-width: 768px) {
  .header-menu {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  .header-menu {
    font-size: 2rem;
  }
}

.header--expand {
  height: 320px;
  background-color: #232629;
  color: #fff;
}
.header--expand .header-menu {
  transform: translateY(0);
}

.page-title {
  padding-top: 72px;
}
@media screen and (max-width: 480px) {
  .page-title {
    padding-top: 48px;
  }
}

.page-title-background {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  background-image: radial-gradient(#bbb, 10%, transparent 10%);
  background-size: 20px 20px;
}
@media screen and (max-width: 768px) {
  .page-title-background {
    height: 160px;
  }
}
@media screen and (max-width: 480px) {
  .page-title-background {
    height: 96px;
  }
}

.page-title-text {
  font-family: "Poppins", sans-serif;
  font-size: 6.4rem;
  line-height: 1.2em;
}
@media screen and (max-width: 768px) {
  .page-title-text {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 480px) {
  .page-title-text {
    font-size: 3.2rem;
  }
}

.section {
  width: 100%;
  max-width: 960px;
  padding: 120px 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    padding: 80px 40px;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding: 40px 16px;
  }
}
.section .section__title {
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  line-height: 1.2em;
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .section .section__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .section .section__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 768px) {
  .section .section__title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .section .section__title {
    margin-bottom: 32px;
  }
}

.section--about {
  align-items: flex-start;
}

.section--first-view {
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
}

.section--contact {
  background-color: #fafafa;
  background-image: radial-gradient(#bbb, 10%, transparent 10%);
  background-size: 20px 20px;
  max-width: none;
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .section--contact {
    margin-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  .section--contact {
    margin-top: 40px;
  }
}

.footer {
  padding: 24px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  font-weight: 500;
  background-color: #232629;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .footer {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }
}

.button-menu::before,
.button-menu::after {
  content: "";
  position: absolute;
  border-bottom: 1.5px solid #232629;
  width: 24px;
  transition: all 0.5s;
}

.button-menu::before {
  margin-top: 8px;
}

.button-menu::after {
  margin-bottom: 8px;
}

.button-menu--open::before,
.button-menu--open::after {
  border-color: #fff;
  margin: 0;
}

.button-menu--open::before {
  transform: rotate(-45deg);
}

.button-menu--open::after {
  transform: rotate(45deg);
}

.button-normal {
  width: 240px;
  height: 64px;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.2em;
  border: 1px solid #232629;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, transform 1s, opacity 2s;
}
@media screen and (max-width: 768px) {
  .button-normal {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .button-normal {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) {
  .button-normal {
    height: 56px;
  }
}
@media screen and (max-width: 480px) {
  .button-normal {
    width: 100%;
    height: 48px;
  }
}
.button-normal .button-normal__icon,
.button-normal .button-normal__icon-hover {
  position: absolute;
  right: calc(50% - 96px);
  transition: opacity 0.3s;
}
@media screen and (max-width: 480px) {
  .button-normal .button-normal__icon,
.button-normal .button-normal__icon-hover {
    right: 40px;
  }
}
.button-normal .button-normal__icon-hover {
  opacity: 0;
}

.button-normal:hover {
  background-color: #232629;
  color: #fff;
}
.button-normal:hover .button-normal__icon {
  opacity: 0;
}
.button-normal:hover .button-normal__icon-hover {
  opacity: 1;
}

.icon-80 {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
}

.icon-24 {
  width: auto;
  height: auto;
  max-width: 24px;
  max-height: 24px;
}

.icon-16 {
  width: auto;
  height: auto;
  max-width: 16px;
  max-height: 16px;
}

.top-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
@media screen and (max-width: 768px) {
  .top-message {
    row-gap: 32px;
  }
}
@media screen and (max-width: 480px) {
  .top-message {
    row-gap: 24px;
  }
}
.top-message .top-message__symbol {
  width: 160px;
  height: auto;
}
@media screen and (max-width: 480px) {
  .top-message .top-message__symbol {
    width: 120px;
  }
}
@keyframes expansion {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.top-message .top-message__title {
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  line-height: 1.2em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .top-message .top-message__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .top-message .top-message__title {
    font-size: 2.4rem;
  }
}
.top-message .top-message__introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  text-align: center;
}

.scroll-sign-pc {
  position: absolute;
  bottom: 48px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .scroll-sign-pc {
    display: none;
  }
}

.scroll-sign-pc::after {
  content: "";
  position: absolute;
  border-left: 1px solid #bbb;
  height: 40px;
  bottom: -48px;
}

.scroll-sign-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .scroll-sign-mobile {
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    line-height: 1.2em;
    font-weight: 500;
    color: #bbb;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .scroll-sign-mobile {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .scroll-sign-mobile {
    font-size: 1.2rem;
  }
}

.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4%;
  row-gap: 40px;
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .works {
    row-gap: 32px;
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 480px) {
  .works {
    grid-template-columns: 1fr;
    row-gap: 24px;
    margin-bottom: 32px;
  }
}

.works-link {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.works-img {
  width: 100%;
  transition: transform 0.3s;
}

.works-img:hover {
  transform: scale(1.1);
}

.works-title {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  line-height: 1.2em;
  font-weight: 500;
  margin: 16px 0 8px 0;
}
@media screen and (max-width: 768px) {
  .works-title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  .works-title {
    font-size: 2rem;
  }
}

.about-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 80px;
}
@media screen and (max-width: 480px) {
  .about-img {
    width: 120px;
    height: 120px;
  }
}

.about-name {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  line-height: 1.2em;
  font-weight: 500;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .about-name {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  .about-name {
    font-size: 2rem;
  }
}

.about-description {
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 8px;
}
@media screen and (max-width: 768px) {
  .about-description {
    margin: 40px 0;
  }
}
@media screen and (max-width: 480px) {
  .about-description {
    margin: 32px 0;
  }
}

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 16px;
}
@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 8px;
  column-gap: 24px;
}

.profile-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .profile-img {
    width: 100%;
    margin-top: 32px;
  }
}

.history-summary {
  display: grid;
  grid-template-columns: 52px 24px 1fr;
  column-gap: 40px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .history-summary {
    grid-template-columns: 48px 24px 1fr;
    column-gap: 32px;
  }
}
@media screen and (max-width: 480px) {
  .history-summary {
    grid-template-columns: 40px 24px 1fr;
    column-gap: 16px;
  }
}
.history-summary .history-summary__summary {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2em;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .history-summary .history-summary__summary {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .history-summary .history-summary__summary {
    font-size: 1.2rem;
  }
}

.history-description {
  text-align: justify;
  border-left: 2px solid #efefef;
  margin-left: 103px;
  padding: 8px 0 48px 51px;
}
@media screen and (max-width: 768px) {
  .history-description {
    margin-left: 91px;
    padding: 8px 0 40px 43px;
  }
}
@media screen and (max-width: 480px) {
  .history-description {
    margin-left: 66px;
    padding: 8px 0 32px 27px;
  }
}

.history-item:last-child .history-description {
  padding-bottom: 0;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4%;
}
@media screen and (max-width: 768px) {
  .skills {
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 40px;
  }
}
@media screen and (max-width: 480px) {
  .skills {
    row-gap: 16px;
  }
}

.skills-card {
  border: 1px solid #bbb;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .skills-card {
    padding: 24px;
  }
}
.skills-card .skills-card__title {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  line-height: 1.2em;
  font-weight: 500;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .skills-card .skills-card__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  .skills-card .skills-card__title {
    font-size: 2rem;
  }
}
.skills-card .skills-card__skills {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .skills-card .skills-card__skills {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .skills-card .skills-card__skills {
    font-size: 1.2rem;
  }
}
.skills-card .skills-card__img {
  padding: 48px;
}
@media screen and (max-width: 480px) {
  .skills-card .skills-card__img {
    padding: 32px;
  }
}
.skills-card .skills-card__description {
  text-align: justify;
}
